.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

#title {
    text-align: center;
    margin-bottom: 5vh;
    color: white;
    font-size: 21px;
    letter-spacing: 4px;
    font-weight: normal;
    text-transform: uppercase;
  }

  #bigTitle {
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 10vh;
    color: white;
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: normal;
    text-transform: uppercase;
  }

  #number {
    background-color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 5vh;
    color: white;
    font-size: 21px;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
  }