.header {
    position: absolute;
    z-index: -100;
    top: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:
      /* Fade to black from the top */
      linear-gradient(to bottom, hsl(0, 0%, 0%), rgba(0, 0, 0, 0) 50%),
      /* Fade to black from the bottom */
      linear-gradient(to top, hsl(0, 0%, 6%), rgba(0, 0, 0, 0) 30%),
      /* Background image */
      url('https://ik.imagekit.io/stubinen/gruppbild%20test1.jpg');
  }