#cardImage{
    width: 400px;
    height: 250px;
    border-radius: 22px;
    filter: drop-shadow(black 0px 5px 5px);
    margin-bottom: 5vh;
    background-image: url('/images/McLovin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 170px;
}