#titel {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
    color: white;
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .previousMovies {
    margin: auto;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    justify-content: center;
    margin-bottom: 10vh;
  }