.profileCard, .profileCard img{
    width: 300px;
    height: 450px;
    border-radius: 13px;
    object-fit: cover;
    position: relative;
  }
  
  .profileCard h2, .profileCard h1{
    color: white;
    position: absolute;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: normal;
    bottom: 10px;
    right: 20px;
    text-transform: none;
    margin: 0;
  }

  .profileCard h1 {
    bottom: 35px;
  }