body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 6%);
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  color: white;
}


.shown {
  opacity: 0.5;
}

.movieCard img {
  width: 30vh;
  height: 45vh;
  object-fit: cover;
  border-radius: 13px;
  filter: drop-shadow(rgba(213, 192, 0, 0.286) 0px 5px 5px);
  cursor: pointer;
  transition: transform .2s;
}

.movieCard img:hover {
  transform: scale(1.05);
}

.profileCard, .profileCard img{
  width: 300px;
  height: 450px;
  border-radius: 13px;
  object-fit: cover;
  position: relative;
}

.profileCard h2, .profileCard h1{
  color: white;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  bottom: 0px;
  left: 20px;
}

.profileCard h1 {
  bottom: 40px;
}

.profiles {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  margin-bottom: 10vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container {
  position: relative;
  background-color: white;
  padding: 2em;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.form-container div {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container select {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  padding: 0.5em;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1em;
}

.form-container button[type="button"] {
  background-color: red;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: none; /* Prevent interaction when hidden */
}

.hide {
  display: none;
}